<html>
<head>
    <title style="color:indigo">@ViewData["Title"] - Mvc Database Homepage</title>

    <style>
        body {
            background-image: url('images/isabella-and-zsa-fischer-6ast1xZ9YJY-unsplash.jpg');
            background-attachment: fixed;
            background-size: cover;
            color: purple;
        }

        .info {
            font: 700;
            text-align: right;
            font-family: Tahoma;
        }

        .fri {
            color: darkslateblue;
        }
        .end{
            color:red;
        }
    </style>
</head>
<body>
    <main>

        <div class="info">
            <br />
            <br />
            <br />
            <br />
            <h1>Welcome <span class="fri">Fri</span><span class="end">end</span></h1>
            <p>It's good to see you.</p>
            <h5>Backend development</h5>

        </div>
    </main>
</body>
</html>

